body{
    text-align: center;
}
h1{
    font-family: Arial, Helvetica, sans-serif;  
}
.square{
    width: 100px;
    height: 100px;
    background-color: rgb(245, 186, 135);
    border: 1px solid gray;
    display: inline-block;
}
.o{
    position: relative;
}
.o:after{
    content: "\🛡️";
    font-size: 50px;
    line-height: 100px;
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
}
.x{
    position: relative;
}
.x:after{
    content: "\2694️";
    font-size: 50px;
    line-height: 100px;
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
}
#btn{
    text-align: center;
}

.btn{
    margin-top: 50px;
    background-color:rgb(245, 186, 135);
    color: black;
    font-size: 30px;
    padding: 15px;
    border:none;
    border-radius: 20px;
    transition-timing-function: ease;
    transition-duration: 0.5s;
}

.btn:hover{
    padding: 18px;
    font-size: 35px;
    border-radius: 0px;
    background-color: #8c9ddc;
    color: rgb(245, 186, 135);
}